.pagina-home {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #e0e0e0;

    .block {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }

    .block a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px;
        text-decoration: none;
        color: #000;
        border: 1px solid #555555;
        margin: 25px;
        background-color: #fff;
        border-radius: 5px;
        transition: 0.5s;
    }

    .block a:hover {
        box-shadow: 0px 0px 5px #6e6e6e;
    }
}