.comp-icons {
    img {
        background: linear-gradient(180deg, #FCB900 0%, #E90167 55.73%, #BD00B1 100%);  
        border-radius: 100%;
        padding: 2px;
        height: 66px;
    }

    img:hover {
        cursor: pointer;
    }
}